# SPDX-FileCopyrightText: 2021 Johannes Loher
#
# SPDX-License-Identifier: MIT

name: Publish

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

env:
  node_version: 16

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm ci --cache .npm --prefer-offline

      - name: Lint
        run: npm run lint

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}
          cache: 'npm'
      - name: Install dependencies
        run: npm ci --cache .npm --prefer-offline

      - name: Build
        run: npm run build:prod
        env:
          NODE_ENV: production

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  publish:
    needs:
      - lint
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}

      - name: Download production artifacts for publication
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Create zip file
        working-directory: ./dist
        run: zip -r ../module.zip .

      - name: Extract version
        run: |
          echo "::set-output name=version::$(jq -r '.version' package.json)"
        id: extract_version

      - name: Create release
        id: create_version_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: false
          name: ${{steps.extract_version.outputs.version}}
          token: ${{ secrets.GH_PAT }}
          artifacts: './dist/module.json, ./module.zip'
